p {
    font-size: 0.85em;
}

svg {
    background: #000000;
}

.state {
    fill: #f1f1f1;
    stroke: #dedede;
    stroke-width: 0.5;
    cursor: pointer;
    transition: fill 0.1s;
}

.state:hover {
    fill: #cccccc;
}

.state.selected {
    fill: #cccccc !important;
}

.state.neighbour {
    fill: #b9b9b9 !important;
}

.city-label {
    font-size: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}