* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    background: #000000;
    text-align: center;
}

p {
    font-size: 0.85em;
}

svg {
    background: #000000;
}

#controls {
    display: none;
    border-right: 1px solid #c1c1c1;
    padding-right: 5px;
    color: #ffffff;
}

#controls div{
    display: inline-block;
}

#controls #end-game {
    display: none;
}

.state {
    fill: #f1f1f1;
    stroke: #dedede;
    stroke-width: 0.5;
    transition: fill 0.1s;
}

.state:hover {
    fill: #cccccc;
}

.state.selected, .state.selected+.city-label {
    cursor: pointer;
}

.state.neighbour {
    cursor: pointer;
}

.city-label {
    font-size: 10px;
}

/* controls */
#controls #current-player {
    display: inline-block;
    width: 50px;
    height: 30px;
    vertical-align: middle;
}

#controls p {
    display: inline-block;
    margin: 0;
}